/* Fonts */

@font-face {
  font-family: "Graphik LCG";
  src: url("./assets/fonts/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
    url("./assets/fonts/GraphikLCG-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("./assets/fonts/GraphikLCG-Regular.woff") format("woff"),
    url("./assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./assets/fonts/GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"),
    url("./assets/fonts/GraphikLCG-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"),
    url("./assets/fonts/GraphikLCG-Semibold.woff") format("woff"),
    url("./assets/fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Header */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Graphik LCG;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 352px;
  padding-right: 352px;
}
.header {
  background-image: url(./assets/images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.background-blue {
  height: 100%;
  background-color: rgb(42, 108, 234, 0.8);
}
.header-line {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.header-icon {
  position: relative;
}
.grey-circle {
  position: absolute;
  left: 13px;
  top: 0px;
  background-color: #eceff2;
  border-radius: 9999px;
  height: 24px;
  width: 24px;
}
.blue-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #2a6cea;
  border-radius: 9999px;
  height: 24px;
  width: 24px;
}
.header-icon-text {
  left: 46px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.header-items {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.header-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.header-item a:hover {
  text-decoration: underline;
}
.header-line {
  padding: 26px 0;
}
.burger-arrow {
  display: none;
  z-index: 100;
}
.arrow-1 {
  position: fixed;
  top: 101px;
  right: 16px;
}
.arrow-2 {
  position: fixed;
  top: 166px;
  right: 16px;
}
.arrow-3 {
  position: fixed;
  top: 230px;
  right: 16px;
}
.arrow-4 {
  position: fixed;
  top: 296px;
  right: 16px;
}
.burger-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 2px;
  width: 62px;
  height: 62px;
  padding: 25px 20px;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 50;
}
.burger-menu {
  display: flex;
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;
}
.burger-menu::before,
.burger-menu::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease 0s;
}
.burger-button.active {
  position: fixed;
}
.burger-menu.active::before {
  top: 50%;
  background-color: black;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger-menu.active::after {
  bottom: 50%;
  background-color: black;
  transform: rotate(45deg) translate(0, 50%);
}
.burger-menu::before {
  top: 0;
}
.burger-menu::after {
  bottom: 0;
}
.header-text {
  margin-top: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-title {
  color: white;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  width: 748px;
  height: 128px;
}
.header-subtitle {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 480px;
  margin-top: 18px;
}
.header-btn {
  padding: 20px 40px;
  border-color: #eceff2;
  border-radius: 4px;
  font: inherit;
  color: #191c1f;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background-color: #eceff2;
  margin-bottom: 313px;
  margin-top: 92px;
}

/* Second block */

.second-block {
  margin: 80px auto;
}
.second-block-title {
  text-align: center;
  color: #191c1f;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}
.second-block-items {
  display: flex;
  gap: 32px;
  margin-top: 61px;
}
.second-block-item {
  width: 280px;
  height: 164px;
}
.second-item-img {
  height: 72px;
  width: 72px;
}
.second-item-title {
  margin-top: 16px;
  color: #191c1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.second-item-subtitle {
  color: #5e646a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Third block */

.third-block {
  margin-bottom: 80px;
}
.third-block-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
.third-block-text {
  width: 50%;
}
.third-block-title {
  color: #191c1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.third-block-subtitle {
  margin-top: 18px;
  color: #5e646a;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.third-block-images {
  position: relative;
  width: 50%;
  height: 448px;
}
.third-block-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.third-block-car {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Reviews */

.reviews {
  background-color: #f6f8fa;
  padding-top: 57px;
  padding-bottom: 45px;
  margin-bottom: 80px;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-items {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.reviews-title {
  color: #191c1f;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}
.reviews-items {
  margin-top: 32px;
}
.reviews-item {
  box-sizing: border-box;
  width: 33%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 22px 22px 62px 22px;
  background-color: white;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.reviews-item-top {
  display: flex;
  gap: 16px;
}
.reviews-item-image {
  height: 44px;
  width: 44px;
}
.reviews-item-title {
  width: 237px;
  color: #191c1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.reviews-item-subtitle {
  color: #5e646a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.reviews-item-description {
  color: #191c1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.reviews-slider-dots {
  margin-top: 50px;
  width: 108px;
  height: 8px;
}

/* Footer */

.footer {
  border: 1px solid #eceff2;
}
.footer-text {
  text-align: center;
  color: #191c1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding: 28px 0;
}

/* 768px */

@media (max-width: 768px) {
  .header.container {
    max-width: 768px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .container {
    max-width: 768px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .header {
    background-image: url(./assets/images/header-bg-768.png);
  }
  .nav {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .burger-arrow.active {
    display: block;
  }
  .nav.open {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow-y: auto;
    background-color: white;
    padding: 80px 16px 0 16px;
  }
  .header-items {
    flex-direction: column;
    z-index: 50;
    gap: 0;
  }
  .header-item {
    padding: 16px 0;
    border-bottom: 1px solid #eceff2;
  }
  .header-item.border {
    border-top: 1px solid #eceff2;
  }
  .header-item a {
    color: #83898f;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  .header-icon.active {
    z-index: 100;
    position: fixed;
    top: 26px;
  }
  .header-icon.active .header-icon-text {
    color: #191c1f;
  }
  .header-text {
    margin-top: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-title {
    font-size: 32px;
    line-height: 40px;
    width: 476px;
    height: 80px;
  }
  .header-subtitle {
    font-size: 16px;
    line-height: 28px;
    width: 476px;
    margin-top: 17px;
  }
  .header-btn {
    margin-bottom: 398px;
    margin-top: 40px;
  }
  .second-block {
    margin-top: 56px;
    margin-bottom: 71px;
  }
  .second-block-items {
    flex-wrap: wrap;
  }
  .second-block-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 342px;
    height: 76px;
  }
  .second-item-img {
    height: 56px;
    width: 56px;
  }
  .third-block-text {
    width: 50%;
  }
  .third-block-title {
    font-size: 20px;
    line-height: 24px;
  }
  .third-block-subtitle {
    margin-top: 15px;
  }
  .third-block {
    margin-bottom: 56px;
  }
  .third-block-images {
    width: 100%;
    height: 265px;
  }
  .reviews {
    padding-top: 33px;
    margin-bottom: 40px;
  }
  .reviews-item-tablet,
  .slider-none {
    display: none;
  }
  .reviews-items {
    column-gap: 24px;
  }
  .reviews-item {
    width: 50%;
  }
}

/* 375px */

@media (max-width: 375px) {
  .container,
  .header.container {
    max-width: 375px;
    padding-left: 17px;
    padding-right: 17px;
  }
  .header {
    background-image: url(./assets/images/header-bg-375.png);
  }
  .header-text {
    margin-top: 92px;
  }
  .header-title {
    font-size: 24px;
    line-height: 32px;
    width: 288px;
    height: 96px;
  }
  .header-subtitle {
    font-size: 16px;
    line-height: 28px;
    width: 288px;
    margin-top: 17px;
  }
  .header-btn {
    margin-bottom: 172px;
    margin-top: 26px;
  }
  .second-block-title {
    font-size: 24px;
    line-height: 32px;
  }
  .second-block-items {
    margin-top: 26px;
  }
  .third-block-content {
    flex-direction: column-reverse;
    gap: 7px;
  }
  .third-block-text {
    text-align: center;
    width: 100%;
  }
  .third-block-images {
    height: 258px;
  }
  .reviews {
    padding-top: 27px;
    padding-bottom: 37px;
    margin-bottom: 40px;
  }
  .reviews-item-mobile {
    display: none;
  }
  .reviews-title {
    font-size: 24px;
    line-height: 32px;
  }
  .reviews-item {
    padding: 22px 22px 27px 22px;
    width: 100%;
  }
  .reviews-slider-dots {
    margin-top: 40px;
  }
}
/* 320px */

@media (max-width: 320px) {
  .header {
    background-image: url(./assets/images/header-bg-320.png);
  }
  .header-text {
    margin-top: 48px;
  }
  .header-btn {
    margin-bottom: 129px;
  }
  .third-block-content {
    gap: 27px;
  }
  .third-block-images {
    height: 217px;
  }
  .reviews {
    padding-bottom: 33px;
  }
  .reviews-items {
    width: 100%;
  }
  .reviews-item {
    padding: 22px 22px 33px 22px;
  }
}
