/* Fonts */

@font-face {
    font-family: 'Graphik LCG';
    src: url('./assets/fonts/GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('./assets/fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('./assets/fonts/GraphikLCG-Regular.woff') format('woff'),
        url('./assets/fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('./assets/fonts/GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('./assets/fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('./assets/fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('./assets/fonts/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Header */

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Graphik LCG;
}
.container {
    margin: 0 auto;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 0 352px;
}
.header {
    height: 960px;
    background-image: url(./assets/images/header-bg.png);
    background-repeat: no-repeat;
    
}
.background-blue {
    height: 960px;
    background-color: rgb(42, 108, 234, 0.8);
}
.header-line {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
}

.header-icon {
    position: relative;
}
.grey-circle {
    position: absolute;
    left: 13px; 
    top: 0px;
    background-color: #ECEFF2; 
    border-radius: 9999px;
    height: 24px;
    width: 24px;
}
.blue-circle {
    position: absolute;
    left: 0px; 
    top: 0px;
    background-color: #2A6CEA; 
    border-radius: 9999px;
    height: 24px;
    width: 24px;
}
.header-icon-text {
    left: 46px; 
    top: 0px; 
    position: absolute; 
    color: white; 
    font-size: 20px; 
    font-weight: 600; 
    line-height: 24px;
}
.header-items {
    list-style-type: none;
    display: flex;
    gap: 24px;
}
.header-item a{
    color: white;
    text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.header-item a:hover {
    text-decoration: underline;
}
.header-text {
    margin-top: 233px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 18px;
}
.header-title {
    color: white;
font-size: 52px;
font-weight: 600;
line-height: 64px;
width: 748px;
height: 128px;
}
.header-subtitle {
    color: white;
font-size: 18px;
font-weight: 400;
line-height: 32px;
width: 480px;
}
.header-btn {
    padding: 20px 40px;
    border-color: #ECEFF2;
    border-radius: 4px;
  font: inherit;
  color: #191C1F;
font-size: 20px;
font-weight: 600;
line-height: 24px;
  background-color: #ECEFF2;
}

/* Second block */

.second-block {
    margin: 80px auto;
}
.second-block-title {
    text-align: center;
    color: #191C1F;
font-size: 40px;
font-weight: 600;
line-height: 56px;
}
.second-block-items {
    display: flex;
    gap: 32px;
    margin-top: 61px;
}
.second-block-item {
    width: 280px;
    height: 164px;
}
.second-item-img {
    height: 72px;
    width: 72px;
}
.second-item-title {
    margin-top: 16px;
    color: #191C1F;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.second-item-subtitle {
    color: #5E646A;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

/* Third block */

.third-block {
    margin-bottom: 80px;
}
.third-block-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}
.third-block-text {
    width: 592px;
}
.third-block-title {
    width: 592px;
    color: #191C1F;
font-size: 32px;
font-weight: 600;
line-height: 40px;
}
.third-block-subtitle {
    margin-top: 18px;
    width: 592px;
    color: #5E646A;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.third-block-images {
    position: relative;
    width: 592px;
    height: 448px;
}
.third-block-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.third-block-car {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}