/* Fonts */

@font-face {
  font-family: "Graphik LCG";
  src: url("./assets/fonts/GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
    url("./assets/fonts/GraphikLCG-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("./assets/fonts/GraphikLCG-Regular.woff") format("woff"),
    url("./assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("./assets/fonts/GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"),
    url("./assets/fonts/GraphikLCG-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"),
    url("./assets/fonts/GraphikLCG-Semibold.woff") format("woff"),
    url("./assets/fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Header */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Graphik LCG;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  padding: 0 352px;
}
.header {
  height: 960px;
  background-image: url(./assets/images/header-bg.png);
  background-repeat: no-repeat;
}
.background-blue {
  height: 960px;
  background-color: rgb(42, 108, 234, 0.8);
}
.header-line {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.header-icon {
  position: relative;
}
.grey-circle {
  position: absolute;
  left: 13px;
  top: 0px;
  background-color: #eceff2;
  border-radius: 9999px;
  height: 24px;
  width: 24px;
}
.blue-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #2a6cea;
  border-radius: 9999px;
  height: 24px;
  width: 24px;
}
.header-icon-text {
  left: 46px;
  top: 0px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.header-items {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.header-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.header-item a:hover {
  text-decoration: underline;
}
.header-text {
  margin-top: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
}
.header-title {
  color: white;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  width: 748px;
  height: 128px;
}
.header-subtitle {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 480px;
}
.header-btn {
  padding: 20px 40px;
  border-color: #eceff2;
  border-radius: 4px;
  font: inherit;
  color: #191c1f;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  background-color: #eceff2;
}

/* Second block */

.second-block {
  margin: 80px auto;
}
.second-block-title {
  text-align: center;
  color: #191c1f;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}
.second-block-items {
  display: flex;
  gap: 32px;
  margin-top: 61px;
}
.second-block-item {
  width: 280px;
  height: 164px;
}
.second-item-img {
  height: 72px;
  width: 72px;
}
.second-item-title {
  margin-top: 16px;
  color: #191c1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.second-item-subtitle {
  color: #5e646a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Third block */

.third-block {
  margin-bottom: 80px;
}
.third-block-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
.third-block-text {
  width: 592px;
}
.third-block-title {
  width: 592px;
  color: #191c1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.third-block-subtitle {
  margin-top: 18px;
  width: 592px;
  color: #5e646a;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.third-block-images {
  position: relative;
  width: 592px;
  height: 448px;
}
.third-block-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.third-block-car {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Reviews */

.reviews {
  background-color: #f6f8fa;
  padding-top: 57px;
  padding-bottom: 45px;
  margin-bottom: 80px;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-items {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
.reviews-title {
  color: #191c1f;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}
.reviews-items {
  margin-top: 32px;
}
.reviews-item {
  box-sizing: border-box;
  width: 341px;
  height: 316px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 22px 22px 62px 22px;
  background-color: white;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.reviews-item-top {
  display: flex;
  gap: 16px;
}
.reviews-item-image {
  height: 44px;
  width: 44px;
}
.reviews-item-title {
  width: 237px;
  color: #191c1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.reviews-item-subtitle {
  color: #5e646a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.reviews-item-description {
  color: #191c1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 297px;
}
.reviews-slider-dots {
  margin-top: 50px;
  width: 108px;
  height: 8px;
}

/* Footer */

.footer {
  border: 1px solid #eceff2;
}
.footer-text {
  text-align: center;
  color: #191c1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding: 28px 0;
}
